@import "tailwindcss";

body {
  background-image: url('public/assets/BG4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* gives a clean parallax feel */
}
